---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="A propos"
	description="Mais qui est Babon ?"
	pubDate={new Date("April 29 2025")}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Blablabla moi moi moi je je je je etc etc</p>
</Layout>
