---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Bonjour !</h1>
			<p>Vous avez atterri sur Babon.net, mon super blog.</p>
			<p>
				Enfin... blog... à l'heure où j'écris ces
				lignes, je ne sais pas encore trop ce que je
				vais faire de cet espace. Mon besoin de base, et
				de consigner mes connaissances en programmation
				pour m'y référer et les partager. Aussi, vous
				risquez de trouver pas mal de ceci.
			</p>
			<p>
				Ceci étant, ce site pourrait bien me servir pour
				tout un tas de trucs, alors j'espère bien
				l'enrichir au fur et à mesure !
			</p>
		</main>

		<Footer />
	</body>
</html>
